/*Fondo del Index*/
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.img1 {
  height: 700px;
}

.img2 {
  height: 700px;
}

.carousel-caption {
  bottom: 290px;
}

.carousel-caption h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin-top: 200px;
  font-family: "Cinzel Decorative", cursive;
}

/*Titulo del Index*/
.encabezado {
  height: 10%;
  margin-bottom: 65px;
}

.medio {
  height: 90%;
  background: #444444;
}

/*Navbar*/
.navbar-nav a {
  font-family: "Cinzel Decorative", cursive;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  cursor: pointer;
}

.navbar-light .navbar-brand {
  color: azure;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
  color: azure !important;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
  letter-spacing: 0;
}

.nav-link:hover {
  letter-spacing: 2px;
  color: #29d9d5;
}

.cambiar-color {
  background-color: rgba(161, 244, 244, 0.64);
}

.w-100 {
  height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .navbar-nav.ms-auto {
    background: rgba(0, 0, 0, 0.5);
  }

  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: azure;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-nav.ms-auto {
    background: rgba(0, 0, 0, 0.5);
  }

  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: azure;
  }
}
.homegrid {
  display: grid;
  height: 200vh;
  width: 100vw;
  background: #444444;
  grid-template-rows: 5% 96.5% 5%;
  grid-template-areas: "header" "section" "footer";
}

header {
  grid-area: header;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

@media screen and (min-width: 768px) {
  .homegrid {
    grid-template-areas: "header header" "footer section" "footer section ";
    grid-template-rows: 4% 10fr;
    grid-template-columns: 10% 5fr;
  }
}
@media screen and (min-width: 1200px) {
  main {
    grid-template-areas: "header header header" "footer section section" "footer section section";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.fixed-top {
  border-bottom: 2px dotted azure;
  padding-bottom: 15px;
}

/*Section*/
/*Sub NavBar del Portafolio*/
.subnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subnav li {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: azure;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 400;
  max-width: 160px;
  text-transform: uppercase;
  width: 100%;
}
.subnav .btn:hover,
.subnav .btn:active {
  letter-spacing: 2px;
  color: #080808;
  background-color: #9d8cff8e;
}

@media screen and (max-width: 1200px) {
  .btn:hover,
.btn:active {
    letter-spacing: 2px;
    color: #080808;
    background-color: #9d8cff8e;
  }
}
/* About section*/
.section__about {
  margin-top: 70px;
  padding-top: 50px;
  background-color: #f5f5dc;
  border-radius: 10px;
}
.section__about .section-title .section_subtitle {
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #aaaaaa;
  border-left: 3px solid #bfa67a;
  font-size: 700;
}
.section__about .section-title .section_subtitle .section_main_title {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 300;
}
.section__about .section-title .section_subtitle .section_main_title strong {
  font-weight: 600;
}
.section__about .home-button .btn-color-background {
  -moz-user-select: none;
  background: linear-gradient(#7fffd4, #00ced1, #7b68ee);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 0;
  padding: 12px 48px;
  text-align: center;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
}
.section__about .home-button .btn-color-background:hover {
  text-decoration: none;
  color: #29d9d5;
  background: #222;
}

.imagen__opacity {
  margin-left: 15px;
}
.imagen__opacity .about-box {
  -webkit-box-shadow: 0 0 0 10px #000000 inset;
  box-shadow: 0 0 0 10px #000000 inset;
  margin-right: 0;
  position: relative;
  display: block;
  border-radius: 10px;
}
.imagen__opacity .about-box .imagen__about {
  transform: translateY(30px) translateX(-30px);
  -webkit-transform: translateY(30px) translateX(-30px);
  width: 100%;
  z-index: 1;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .bloque {
    display: flex;
    flex-direction: column;
  }
  .bloque .section__about {
    width: 100%;
  }
  .bloque .imagen__opacity {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .bloque {
    display: flex;
    flex-direction: column;
  }
  .bloque .imagen__opacity {
    width: 100%;
  }
}
/*Portafolio Galeria*/
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px !important;
}
.row .column {
  flex: 33.3%;
  width: auto;
  overflow: hidden;
  padding: 0 4px;
  height: 100%;
}
.row .column img {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: grayscale(0.5) brightness(0.7);
  border-radius: 5px;
  transition: 0.3s linear;
}
.row .column img:hover {
  filter: grayscale(0) brightness(1);
}

@media only screen and (max-width: 1000px) {
  .row .column {
    flex: 50%;
  }
  .row .column img {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: grayscale(0.5) brightness(0.7);
    border-radius: 5px;
    transition: 0.3s linear;
  }
  .row .column img:hover {
    filter: grayscale(0) brightness(1);
  }
}
@media only screen and (max-width: 768px) {
  .row .column {
    flex: 100%;
  }
  .row .column img {
    filter: grayscale(0) brightness(1);
  }
}
/*Blog*/
.blogs .heading .titulo {
  font-family: "Cinzel Decorative", cursive;
  margin-top: 10px;
  margin-left: 8px;
  color: azure;
}
.blogs .heading .subtitulo {
  font-family: "Open Sans Condensed", sans-serif;
  color: #29d9d5;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: rgba(17, 17, 17, 0.7);
}
.blogs .box-container .box:hover {
  transform: scale(1.1);
}
.blogs .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: azure;
}
.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1rem;
  color: #444;
  line-height: 2;
}
.blogs .box-container .box .content a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #29d9d5;
}

/*Contacto*/
.contact {
  margin-top: 0;
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/img/pexels-matheus-bertelli-23769911.jpg);
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
  margin-top: -200px;
}
.contact .content h2 {
  font-size: 100px;
  font-weight: 500;
  color: azure;
}
.contact .content p {
  font-weight: 300;
  color: azure;
  font-size: 25px;
}
.contact .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact .container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact .container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact .container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #29d9d5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contact .container .contactInfo .box .icon iframe {
  width: 50px;
  height: 50px;
}
.contact .container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: azure;
  flex-direction: column;
  font-weight: 300;
}
.contact .container .contactForm {
  width: 50%;
  padding: 40px;
  background: azure;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact .container .contactForm h2 {
  font-size: 30px;
  color: #222;
  font-weight: 500;
}
.contact .container .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact .container .contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #222;
  outline: none;
  resize: none;
}
.contact .container .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #222;
  outline: none;
}
.contact .container .contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contact .container .contactForm .inputBox input:focus ~ span,
.contact .container .contactForm .inputBox input:valid ~ span {
  color: #29d9d5;
  font-size: 12px;
  transform: translate(-20px);
}
.contact .container .contactForm .inputBox textarea:focus ~ span,
.contact .container .contactForm .inputBox textarea:valid ~ span {
  color: #29d9d5;
  font-size: 12px;
  transform: translate(-20px);
}
.contact .container .contactForm .inputBox input [type=submit] {
  width: 100px;
  background: #29d9d5;
  color: azure;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contact .imagenContact {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: -20px;
}
.contact .imagenContact img {
  width: 100%;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .contact .container {
    flex-direction: column;
  }
  .contact .container .contactInfo {
    margin-bottom: 40px;
    width: 100%;
  }
  .contact .container .contactForm {
    width: 100%;
  }
  .contact .imagenContact {
    display: flex;
    flex-direction: column;
  }
  .contact .imagenContact img {
    margin-top: 10px;
  }
}
/*Footer*/
.pie-de-pag {
  border-top: 1px dotted azure;
  background-color: #444444;
}

.pie__descrpcion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .pie__descrpcion {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 10px;
    right: 1120px;
    margin-right: 20px;
    width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .pie__descrpcion {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 10px;
    margin-right: 20px;
    width: 500px;
    left: -200px;
  }

  .pie-de-pag {
    border-right: 2px dotted azure;
    border-top: none;
  }
}
@media screen and (max-width: 768px) {
  .pie__descrpcion {
    transform: rotate(0deg);
    bottom: -920px;
    left: -10px;
  }
}
.instagram {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: azure;
  padding: 0 20px;
}

.copyright {
  font-size: 20px;
  color: azure;
  font-family: "Cinzel Decorative", cursive;
  width: 100px;
  text-align: center;
}

.facebook {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: azure;
  padding: 0 20px;
}

/*# sourceMappingURL=style.css.map */
