/*Fondo del Index*/
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.img1 {
  height: 700px;
}

.img2 {
  height: 700px;
}

.carousel-caption {
  bottom: 290px;
}

.carousel-caption h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin-top: 200px;
  font-family: "Cinzel Decorative", cursive;
}

/*Titulo del Index*/
.encabezado {
  height: 10%;
  margin-bottom: 65px;
}

.medio {
  height: 90%;
  background: #444444;
}

/*Navbar*/
.navbar-nav a {
  font-family: "Cinzel Decorative", cursive;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  cursor: pointer;
}

.navbar-light .navbar-brand {
  color: azure;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
  color: azure !important;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
  letter-spacing: 0;
}

.nav-link:hover {
  letter-spacing: 2px;
  color: #29d9d5;
}

.cambiar-color {
  background-color: rgba(161, 244, 244, 0.64);
}

.w-100 {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .navbar-nav.ms-auto {
    background: rgba(0, 0, 0, 0.5);
  }

  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: azure;
  }
}
.homegrid {
  display: grid;
  height: 200vh;
  width: 100vw;
  background: #444444;
  grid-template-rows: 5% 85% 5%;
  grid-template-areas: "header" "section" "footer";
}

header {
  grid-area: header;
  background-color: transparent;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

@media screen and (min-width: 768px) {
  .homegrid {
    grid-template-areas: "header header" "footer section" "footer section ";
    grid-template-rows: 4% 10fr;
    grid-template-columns: 10% 5fr;
  }
}
@media screen and (min-width: 1200px) {
  main {
    grid-template-areas: "header header header" "footer section section" "footer section section";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.fixed-top {
  border-bottom: 2px dotted azure;
  padding-bottom: 15px;
}

/*Section*/
/*Sub NavBar del Portafolio*/
.subnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subnav li {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: azure;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 400;
  max-width: 160px;
  text-transform: uppercase;
  width: 100%;
}
.subnav .btn:hover,
.subnav .btn:active {
  letter-spacing: 2px;
  color: #080808;
  background-color: #9d8cff8e;
}

/* About section*/
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about .about__img1 {
  height: 200px;
}
.about .about__img1 img {
  width: 370px;
  border-radius: 6px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about .about__p1 {
  display: flex;
  flex-direction: column;
  background-color: #f5f5dc;
  float: right;
  margin-top: 250px;
  width: 484px;
  height: 384px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about .about__p1 h3 {
  text-align: center;
  margin-top: 70px;
  font-family: "Cinzel Decorative", cursive;
  font-size: 35px;
}
.about .about__p1 p {
  text-align: center;
  width: 400px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-left: 40px;
  font-size: 18px;
}
.about .about__img2 img {
  width: 600px;
  border-radius: 6px;
  float: right;
  margin-left: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -600px;
}
.about .about__p2 {
  background-color: #f5f5dc;
  width: 384px;
  height: 384px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 100px;
  margin-top: -600px;
}
.about .about__p2 h3 {
  text-align: center;
  margin-top: 50px;
  font-family: "Cinzel Decorative", cursive;
  font-size: 35px;
}
.about .about__p2 p {
  text-align: center;
  width: 300px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-left: 40px;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .about__img1 img {
    margin-left: 40px;
  }
  .about .about__p1 {
    width: 100%;
    border-radius: 20%;
    margin-top: 325px;
  }
  .about .about__p1 h3 {
    font-size: 30px;
  }
  .about .about__p1 p {
    width: 699px;
    margin-left: 30px;
    font-size: 20px;
  }
  .about .about__p2 {
    width: 100%;
    border-radius: 20%;
    margin-top: 15px;
    margin-left: inherit;
  }
  .about .about__p2 h3 {
    font-size: 30px;
  }
  .about .about__p2 p {
    width: 699px;
    margin-left: 30px;
    font-size: 20px;
  }
  .about .about__img2 img {
    float: left;
    margin-left: 0;
    margin-top: -20px;
    border-radius: 0;
    width: 800px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .about .about__img1 img {
    margin-left: 40px;
  }
  .about .about__p1 {
    width: 450px;
    border-radius: 20%;
    margin-top: 325px;
  }
  .about .about__p1 h3 {
    font-size: 30px;
  }
  .about .about__p1 p {
    width: 408px;
    margin-left: 27px;
    font-size: 20px;
  }
  .about .about__p2 {
    width: 450px;
    border-radius: 20%;
    margin-top: 15px;
    margin-left: inherit;
  }
  .about .about__p2 h3 {
    font-size: 30px;
  }
  .about .about__p2 p {
    width: 408px;
    margin-left: 27px;
    font-size: 20px;
  }
  .about .about__img2 img {
    float: left;
    margin: 0;
    border-radius: 0;
    width: 450px;
  }
}
/*Portafolio Galeria*/
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px !important;
}
.row .column {
  flex: 33.3%;
  width: auto;
  overflow: hidden;
  padding: 0 4px;
  height: 100%;
}
.row .column img {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: grayscale(0.5) brightness(0.7);
  border-radius: 5px;
  transition: 0.3s linear;
}
.row .column img:hover {
  filter: grayscale(0) brightness(1);
}

@media only screen and (max-width: 1200px) {
  .row .column {
    flex: 50%;
  }
  .row .column img {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: grayscale(0.5) brightness(0.7);
    border-radius: 5px;
    transition: 0.3s linear;
  }
  .row .column img:hover {
    filter: grayscale(0) brightness(1);
  }
}
@media only screen and (max-width: 600px) {
  .row .column {
    flex: 100%;
  }
  .row .column img {
    filter: grayscale(0) brightness(1);
  }
}
/*Blog*/
.blogs .heading .titulo {
  font-family: "Cinzel Decorative", cursive;
  margin-top: 10px;
  margin-left: 8px;
  color: azure;
}
.blogs .heading .subtitulo {
  font-family: "Open Sans Condensed", sans-serif;
  color: #29d9d5;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: rgba(17, 17, 17, 0.7);
}
.blogs .box-container .box:hover {
  transform: scale(1.1);
}
.blogs .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: white;
}
.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1rem;
  color: #444;
  line-height: 2;
}
.blogs .box-container .box .content a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #29d9d5;
}

/*Contacto*/
.izq-der {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.izq-der .izquierda {
  width: 50%;
}
.izq-der .izquierda img {
  width: 300px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.izq-der .izquierda .description {
  position: absolute;
  background-color: beige;
  top: 350px;
  left: 400px;
  width: 374px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.izq-der .izquierda .description p {
  width: 300px;
  height: 100px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
  margin-left: 50px;
}
.izq-der .mapa {
  background-color: beige;
  width: 450px;
}
.izq-der .mapa h2 {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}
.izq-der .mapa iframe {
  left: 20px;
}

/*Formulario*/
.form {
  background: linear-gradient(#7fffd4, #00ced1, #7b68ee);
  width: 400px;
  margin-top: 100px;
  text-align: center;
}
.form h2 {
  font-family: "Open Sans Condensed", sans-serif;
}
.form form {
  display: block;
}
.form .completar input {
  width: 90%;
  padding: 10px 0;
  color: #3a3a3a;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  background: transparent;
}
.form input:focus {
  border: 3px solid #555;
}
.form label {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  background-color: #7c68ee8e;
  border-radius: 2px;
  margin: 10px;
}
.form .formulario__enviar input {
  background-color: #242323;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.form .formulario__comment {
  border: 3px solid #332a80;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #555;
  color: azure;
}

@media only screen and (max-width: 900px) {
  .izq-der {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .izq-der .izquierda img {
    margin-left: 20px;
    margin-top: 10px;
  }
  .izq-der .izquierda .description {
    position: absolute;
    left: 100;
    top: 400px;
    width: 374px;
    height: 300px;
  }
  .izq-der .izquierda .description p {
    font-size: 35px;
  }
  .izq-der .derecha .mapa {
    margin-top: 70px;
    margin-left: 0;
    width: 100%;
  }

  .form {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .izq-der {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .izq-der .izquierda img {
    margin-left: 20px;
    margin-top: 20px;
  }
  .izq-der .izquierda .description {
    position: absolute;
    left: 0;
    top: 450px;
    width: 374px;
    height: 200px;
  }
  .izq-der .izquierda .description p {
    font-size: 25px;
  }
  .izq-der .derecha .mapa {
    margin-top: 70px;
    margin-left: 0;
    width: 100%;
  }
  .izq-der .derecha .mapa iframe {
    width: 100%;
  }

  .form {
    width: 100%;
    margin-top: auto;
  }
}
/*Footer*/
.pie-de-pag {
  border-top: 1px dotted azure;
  background-color: #444444;
}

.pie__descrpcion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .pie__descrpcion {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 10px;
    right: 1120px;
    margin-right: 20px;
    width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .pie__descrpcion {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 10px;
    margin-right: 20px;
    width: 500px;
    left: -200px;
  }

  .pie-de-pag {
    border-right: 2px dotted azure;
    border-top: none;
  }
}
@media screen and (max-width: 768px) {
  .pie__descrpcion {
    transform: rotate(0deg);
    bottom: -750px;
    left: 0;
  }
}
.instagram {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: azure;
  padding: 0 20px;
}

.copyright {
  font-size: 20px;
  color: azure;
  font-family: "Cinzel Decorative", cursive;
  width: 100px;
  text-align: center;
}

.facebook {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: azure;
  padding: 0 20px;
}

/*# sourceMappingURL=style.css.map */
